@model Dictionary.DTO.UserDTO
<link rel="stylesheet" href="~/Content/Login.css" />
<h2 style="text-align:center">Login Account</h2>
<form method="post" class="login-form" action="/User/Login" onsubmit="return validateForm()">
    <input type="email" id="sEmail" name="sEmail" placeholder="Email" required emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/>
    <input type="password" id="sPassword" name="sPassword" placeholder="Password" required>
    <span id="error" style="color:red;">
        @if (!string.IsNullOrEmpty(TempData["response"] as string))
        {
            @Html.Raw(TempData["response"])
        }
    </span>
    <br />
    <button type="submit" class="btn-login">Login</button>
</form>

<script>
    function validateForm() {

        const password = document.getElementById("sPassword")

        const error = document.getElementById("error")

        if (password.value.length < 8 || !/\d/.test(password.value)) {
            error.textContent = 'Mật khẩu bao gồm 8 ký tự và ít nhất 1 số'
            return false
        }
        else {
            error.parentNode.removeChild(error)
            return true

        }


    }
</script>

