@model Dictionary.DTO.UserDTO
<link rel="stylesheet" href="~/Content/SignUp.css" />
<h2 style="text-align:center">Register Account</h2>
<form method="post" class="signup-form" action="/User/SignUp" onsubmit="return validateForm()">
    <input type="email" id="sEmail" name="sEmail" placeholder="Email" required emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/>
    <input type="password" id="sPassword" name="sPassword" placeholder="Password" required>
    <input type="password" id="cfpassword" name="cfpassword" placeholder="Confirm Password" required>
    <span id="error" style="color:red;">
        @if (!string.IsNullOrEmpty(TempData["Error"] as string))
        {
            @Html.Raw(TempData["Error"])
        }
    </span>
    <br />
    <button type="submit" class="btn-signup">SignUp</button>
</form>

<script>
    function validateForm() {

        const password = document.getElementById("sPassword")
        const cfpassword = document.getElementById("cfpassword")
        const error = document.getElementById("error")
        if (cfpassword.value === password.value) {
            if (password.value.length < 8 || !/\d/.test(password.value)) {
                error.textContent = 'Mật khẩu bao gồm 8 ký tự và ít nhất 1 số'
                return false
            }
            else {
                error.parentNode.removeChild(error)
                return true
            }

        }
        else {
            error.textContent = 'Mật khẩu cần phải trùng nhau'
            return false

        }




    }
</script>

