@model IEnumerable<Dictionary.Models.GetWordInfoById_Result>

@{
    Layout = null;
}
@{
    var uniqueWords = Model.GroupBy(x => x.sWord)
                      .Select(g => g.First())
                      .ToList();
}

@foreach (var item in uniqueWords)
{
    <p class="word_item p_result p_flex_start">
        <span class="word_text">@Html.DisplayFor(modelItem => item.sWord)</span>
        <span class="word_attr p_flex_start">
            <span class="word_type"> Loại từ  : @Html.DisplayFor(modelItem => item.sWordtype)</span>
            <span class="word_type"> Ví dụ  : @Html.DisplayFor(modelItem => item.sExample)</span>
            <span class="word_type"> Mô tả  : @Html.DisplayFor(modelItem => item.sDefinition)</span>
        </span>
    </p>
}


