@model IEnumerable<Dictionary.Models.tblUser>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Danh sách người dùng</h2>

    <div class="table-container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Quyền</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.sEmail)</td>
                        <td>@Html.DisplayFor(modelItem => item.sRole)</td>
                        <td>
                            @Html.ActionLink("Cập nhật quyền", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-sm" }) |
                            @Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
